header {
    
    text-justify: center;
    text-align: center;
    color: #e8eef2;
    background-color: #271f30;
    height: 60px;
    font-size: 38px;
    font-weight: 1000;
    letter-spacing: 3px;
}